.hamburger-menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px;
}

.menu-items {
    position: absolute;
    top: 100%;
    /* Posiciona abaixo do botão */
    right: 0;
    /* Alinhado à direita */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-10px);
    /* Posição inicial da animação */
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Transições suaves */
    pointer-events: none;
    /* Impede interação com o menu fechado */
}

.menu-items.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    /* Permite interação com o menu aberto */
}

.menu-item {
    padding: 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    /* Usamos flexbox para alinhar o ícone e o texto */
    align-items: center;
    /* Alinha verticalmente ao centro */
    gap: 10px;
    /* Adiciona um espaçamento entre o ícone e o texto */
}

.menu-item svg {
    width: 35px;
    /* Define a largura do ícone (ajuste conforme necessário) */
    height: 32px;
    /* Define a altura do ícone (ajuste conforme necessário) */
}

.menu-item:hover {
    filter: brightness(0.9);
    /* Efeito de escurecimento no hover */
}