/* Estilos específicos para o TrashPopup */
.trash-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 10;
    width: 500px;
    max-width: 95%;

}

.trash-popup h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.trash-popup .sort-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.trash-popup .sort-options label {
    font-weight: bold;
}

.trash-popup .sort-options select {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.trash-popup .deleted-tasks {
    display: flex;
    /* Usamos flexbox para centralizar a coluna */
    justify-content: center;
    /* Centraliza horizontalmente */
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 30px;
}

.trash-popup .popup-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
}

.trash-popup button {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    flex: 1;
    transition: background-color 0.3s ease;
}

.trash-popup button[type="submit"],
.trash-popup button.delete-all {
    background-color: #dc3545;
    font-weight: bold;
    /* Vermelho */
    color: white;
}

.trash-popup button[type="button"],
.trash-popup button.close {
    background-color: #e9e9e9;
    /* Cinza claro */
    color: #212529;
}

.trash-popup button.delete-all:hover {
    background-color: #c52f3e;
    /* Exemplo de cor de fundo no hover */
}

/* Hover para o botão "Fechar" */
.trash-popup button.close:hover {
    background-color: #dbdbdb;
    /* Exemplo de cor de fundo no hover */
}

.column-header {
    /* Cor do título "Iniciar" */
    background-color: rgb(244, 136, 151);
}

.empty-trash-message {
    text-align: center;
    color: red;
    font-weight: bold;
}